{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12" id="success"></div>

    <div class="col-md-12 big1">Enter the Company's Info:</div>
    
    <div class="col-md-1 bold">Company Name: </div>
    <div class="col-md-11">
        <input id="cname" type="text" placeholder="company name"/>
    </div><br>
    <div class="col-md-12 upb"></div>

    <div class="col-md-1 bold">Email: </div>
    <div class="col-md-11">
        <input id="email" type="text" placeholder="email"/>
    </div><br>
    <div class="col-md-12 upb"></div>

    <div class="col-md-12">
        <button id="submit1" class="btn btn-primary fixed">Submit</button>
    </div>
</div>
{% endblock %}