{% extends "layout.html" %}

{% block content %}

<nav class="navbar navbar-dark fixed-top navbar-custom" >
    <div class="container-fluid">
        <a class="navbar-brand me-auto" href="#">Admin Center</a>
     
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link fw-bold" href="/">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="mt-5">
{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
{% endwith %}
</div>

<div class="container my-5 py-6">
    

    <div class="container">
        <div class = "container">

        
            {% if json_profile %}
                {% if json_profile.error %}
                    <p>Something Wrong. Please contact the service provider.</p>
                {% else %}
                    <h3 class="fw-bold text-center mb-3"> My Company's Profile</h3>
                    <p><strong>Company ID:</strong> {{ json_profile.company_id }}</p>
                    <p><strong>Company Name:</strong> {{ json_profile.company_name }}</p>
                    <p><strong>Email:</strong> {{ json_profile.email }}</p>
                    <div class="text-center">
                        <a href="/company-change-profile" class="btn btn-secondary text-center"> Update Profile</a>
                    </div>
                    
                {% endif %}
            {% else %}
                <p>Something Wrong. Can not load your profile. Please contact the admin.</p>
            {% endif %}
        </div>

        <h1>Services: </h1>
        <div class="navbar-nav">
            <a class="nav-link" href="/admin-manage-members">Manage Members</a>
        </div>
        <br>

        <div class="navbar-nav">
            <a class="nav-link" href="/add-subs">Add subscription</a>
        </div>
        <br>

        <div class="navbar-nav">
            <a class="nav-link" href="/update-subs">Update subscription</a>
        </div>
        <br>

        <div class="navbar-nav">
            <a class="nav-link" href="/view-all-subs">View All Subscriptions</a>
        </div>
        <br>

        <div class="navbar-nav">
            <a class="nav-link" href="/analyzer">Analyzer</a>
        </div>
        <br>
        
        <div class="navbar-nav">
            <a class="nav-link" href="/notification-center">Notification Center</a>
        </div>
    </div>

</div>
{% endblock %}