{% extends "layout.html" %}

{% block content %}
<div class="navbar-nav">
    <a class="nav-link" href="/admin-center">Back</a>
</div>

<div id="d1">
    <span class="bold">name: </span> 
    <span id="s1">{{i.name}}</span>
    <button id="e1" class="btn btn-primary fixed">edit</button>
</div>
<div id="d2">
    <span class="bold">Image link: </span> 
    <span id="s2">{{i.image}}</span>
    <button id="e2" class="btn btn-primary fixed">edit</button>
</div>
<div id="d3">
    <span class="bold">Rating </span> 
    in FIFA22: <span id="s3">{{i.rating}}</span> (out of 100)
    <button id="e3" class="btn btn-primary fixed">edit</button>
</div>
<div id="d4">
    <span class="bold">Basic Info:</span> 
    
    <button id="e4" class="btn btn-primary fixed">edit</button>
    <br><span id="s4">{{i.summary}}</span>
</div>

<div id="d5">
    <span class="bold">Awards: </span> 
    <span id="s5">{{i.awards}}</span>
    <button id="e5" class="btn btn-primary fixed">edit</button>
</div>
<br><br>
<div>
    <button id="final_submit" class="btn btn-primary fixed" name="{{i.id}}">Submit</button>
    <button id="discard" class="btn btn-primary fixed m2" name="{{i.id}}" >Discard</button>
</div>

{% endblock %}