{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div id="d3">
        <span class="bold">Subscription Type: </span> 
        <span id="s3">{{i.subtype}}</span>
        <button id="e3" class="btn btn-primary fixed">edit</button>
    </div>

    <div id="d4">
        <span class="bold">Subscription Status: </span> 
        <span id="s4">{{i.substa}}</span>
        <button id="e4" class="btn btn-primary fixed">edit</button>
    </div>

    <div id="d5">
        <span class="bold">Next Due Date: </span> 
        <span id="s5">{{i.nddate}}</span>
        <button id="e5" class="btn btn-primary fixed">edit</button>
    </div>

    <div id="d6">
        <span class="bold">Start Date: </span> 
        <span id="s6">{{i.sdate}}</span>
        <button id="e6" class="btn btn-primary fixed">edit</button>
    </div>

    <div id="d7">
        <span class="bold">Billing Info: </span> 
        <span id="s7">{{i.binfo}}</span>
        <button id="e7" class="btn btn-primary fixed">edit</button>
    </div>
    
    <br><br>
    <div>
        <button id="final_submit2" class="btn btn-primary fixed" name="{{i.cid}}">Submit</button>
        <button id="discard2" class="btn btn-primary fixed m2" name="{{i.cid}}" >Discard</button>
    </div>
</div>

{% endblock %}