{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
{% endwith %}

<div class="navbar-nav">
    <a class="nav-link" href="{{url_for('admin_manage_members')}}">Back</a>
</div>

<div class="container full-width my-5 py-6">
    <h2 class="mb-3">Member's Profile</h2>
    {% if json_profile %}
        <p><strong>Email:</strong> {{ json_profile.email }}</p>
        <p><strong>First Name:</strong> {{ json_profile.first_name }}</p>
        <p><strong>Last Name:</strong> {{ json_profile.last_name }}</p>
        <p><strong>Phone Number:</strong> {{ json_profile.phone_number }}</p>
    {% else %}
        <p>Something Wrong. Can not load your profile. Please contact the admin.</p>
    {% endif %}

</div>

<div class="container full-width my-5 py-6">
    <h3 class="mb-3">Member's Subscriptions:</h3>
    <p><strong>Totoal Subscriptions Count:</strong> {{total_subscriptions}}</p>
    <div class="container full-width mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Subscription ID</th>
                    <th>Subscription Name</th>
                    <th>Subscription Status</th>
                    <th>Subscription Type</th>
                    <th>Start Date</th>
                    <th>Next Due Date</th>
                    <th>Billing Info</th>
                    <th>Last Action</th>
                    <th>Last Action Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in subscriptions_data%}
                <tr>
                    <td>{{item['subscription_id']}}</td>
                    <td>{{item['subscription_name']}}</td>
                    <td>{{item['subscription_status']}}</td>
                    <td>{{item['subscription_type']}}</td>
                    <td>{{item['start_date']}}</td>
                    <td>{{item['next_due_date']}}</td>
                    <td>{{item['billing_info']}}</td>
                    <td>{{item['last_action']}}</td>
                    <td>{{item['last_action_date']}}</td>
                </tr>
                {% endfor %}
            </tbody>
    </div>


</div>


{% endblock %}