{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
{% endwith %}


<nav class="navbar navbar-dark fixed-top navbar-custom" >
    <div class="container-fluid">
        <a class="navbar-brand me-auto" href="#">Member Center</a>
     
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link fw-bold" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container my-5 py-6">

    <p>Welcome!</p>
    
    {% if json_profile %}
        <p>Email: {{ json_profile.email }}</p>
        <p>First Name: {{ json_profile.first_name }}</p>
        <p>Last Name: {{ json_profile.last_name }}</p>
    {% else %}
        <p>Something Wrong. Can not load your profile. Please contact the admin.</p>
    {% endif %}

</div>

{% endblock %}