

{% extends "layout.html" %}

{% block content %}


<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand me-auto" href="#">SAAS Platform</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="/admin-login">Admin Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="/member-login">Member Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid py-6 jumbotron">
    <div class="px-5"> 
        <h1 class="display-5 fw-bold">SAAS</h1>
        <p class="col-md-8 fs-4"> Welcome to Our SAAS Platform</p>
        <p class="lead"> Experience the power of our software</p> 
        <a href="/member-signup" class="btn btn-primary btn-lg mt-3">Sign Up Now</a>
    
    </div>
</div>




{% endblock %}